<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>
        Something went wrong.
    </h1>
    <div>
        This page is shown because of the following reasons:
        <ul>
            <li>-One or many fields were not filled properly</li>
            <li>-There was some error connecting to the database</li>
        </ul>
    </div>
    <a href="/">Go back to home page</a> and try again later :)
</body>
</html>